.App {
    padding: 20px;
}

ul {
    text-decoration: none;
}

button {
    background-color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #ddd;
}